/* Common Shared styles */
body {
    font-family: "Work Sans", sans-serif;
}

/* Banner styles */

header {
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    width: 1600px;
    height: 889px;
}

.banner-header {}

.banner {
    padding-left: 845px;
    padding-top: 216px;
    padding-right: 230px;
    padding-bottom: 365px;
}

.banner-title {
    width: 525px;
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-description {
    width: 494px;
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 32px;
}

.button {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
    color: white;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    padding: 23px;
    margin-top: 0px;
    border: none;
}

.button a {
    color: inherit;
    text-decoration: none;
}

.button-container {
    padding-left: 340px;
    padding-right: 230px;
}

/* Main section styles */

main {
    max-width: 1600px;
}

.profile-banner {
    display: flex;
}

.profile-pic {
    width: 451px;
    margin-top: 139px;
    margin-left: 277px;
    margin-right: 105.5px;
}

.profile-column {
    margin: 322px 0px 0px 0px;
}

.profile-section-title {
    width: 288px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.profile-description {
    width: 416px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
}

.profile-list ul {
    margin-top: 16px;
    margin-bottom: 0px;
}

.profile-list li {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

/* My plane section stykes */

.card-section-title {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 50px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.plan-cards-container {
    display: flex;
    justify-content: center;
    margin-bottom: 125px;
    gap: 99px;
}

.card-image {
    width: 92.958px;
    height: 92.958px;
    flex-shrink: 0;
}

.card-title {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.card-description {
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}